$primary: rgb(26, 30, 34);
$secondary: rgb(36, 41, 46);
$white: #ffffff;
$purple: rgb(0, 112, 243);
$dark-purple: #9a60a4;
$shadow-primary: rgba(0, 0, 0, 0.07) 0px 10px 30px 10px;
$input-bg: rgb(36, 41, 46);
